@model SysParkingC_.Models.Estacionamento

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Estacionamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroVagasDisponiveis" class="control-label"></label>
                <input asp-for="NumeroVagasDisponiveis" class="form-control" />
                <span asp-validation-for="NumeroVagasDisponiveis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preco15Min" class="control-label"></label>
                <input asp-for="Preco15Min" class="form-control" />
                <span asp-validation-for="Preco15Min" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preco30Min" class="control-label"></label>
                <input asp-for="Preco30Min" class="form-control" />
                <span asp-validation-for="Preco30Min" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preco1Hora" class="control-label"></label>
                <input asp-for="Preco1Hora" class="form-control" />
                <span asp-validation-for="Preco1Hora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoDiaria" class="control-label"></label>
                <input asp-for="PrecoDiaria" class="form-control" />
                <span asp-validation-for="PrecoDiaria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoPernoite" class="control-label"></label>
                <input asp-for="PrecoPernoite" class="form-control" />
                <span asp-validation-for="PrecoPernoite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecoMensal" class="control-label"></label>
                <input asp-for="PrecoMensal" class="form-control" />
                <span asp-validation-for="PrecoMensal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
